html{
    font-size: 16px;
}
html, body {
    /* height: 50%; */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #1C1C1C;
}

.container {
    background-color: #1F2937;
    width: 34.375em;
    height: 6.25em;

}

.container-content {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.heading-gen{
    color: white;
    font-size: 2.5rem;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.password-suggest{


}




.heading-gen span{
color: #4ADF86;
}
p{
    color: #D5D4D8;
    font-size: 1.25rem;
    font-family: "Inter", sans-serif;
}

#generate-password-btn{
    color: white;
    background-color: #10B981;
    padding: 0.625em 1.25em 0.625em 1.25em;
    border-radius:6px ;
    border: none;
    display: block;
    margin: 0 0 1.875em 0;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: "Karla", sans-serif;
}
#generate-password-btn:hover{
    box-shadow: 3px 3px white;
}

.password-suggest{
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
}

.password-suggest p{

    background-color:#273549;
    padding: 0.625em 1.25em 0.625em 1.25em;
    color: #4ADF86;
    border-radius: 4px;
    font-size: 1rem;
}
